<div class="row">
  <div class="large-11 large-centered column">
    <h3>Getting Started</h3>
    <h3 class="subheader">Downloading</h3>
    <div class="getting-started panel">
      <ol>
        <li>If you don't have it, get the latest JDK from the flash drive</li>
        <li>Get the robocode installer from <%= link_to 'here', '#' %></li>
        <li>Download the example bots from <%= link_to 'here', '#' %></li>
      </ol>
    </div>
    <h3 class="subheader">Installation</h3>
    <div class="getting-started panel">
      <ol>
        <li>After installing the JDK, install robocode by double-clicking the installer</li>
        <li>Unzip the downloaded example bots and put them in your robocode/robots folder</li>
      </ol>
    </div>
  </div>
</div>
