<li><%= link_to('Basics', '/pages/basics') %></li>
<li><%= link_to('Angles', '/pages/angles') %></li>
<li><%= link_to('BasicBot', '/pages/basic_bot') %></li>
<li><%= link_to('Advanced', '/pages/advanced') %></li>
