<div class="row">
  <div class="large-11 large-centered column">
    <h1>Matches</h1>
    <table>
      <thead>
        <tr>
          <th>Type</th>
          <th>Bots</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <% @matches.each do |match| %>
        <tr>
          <td><%= match.category.name %></td>
          <td>
            <% match.bots.each do |bot| %>
                <div><%= bot.proper_name %></div>
            <% end %>
          </td>
          <td><%= match.status %></td>
          <td><%= link_to 'details', match_path(match) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
